body  {
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}


.item-fade {
	opacity: 1;
	transition: opacity .25s;
}

.faded {
	opacity: 0;
	visibility: hidden;
  position: absolute;
}

.red {
	background-color: #ff0000;
}

.yellow {
	background-color: #ffff00;
}

.green {
	background-color: #00ff00;
}

.blue {
	background-color: #0000ff;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.flex-vert-align {
	align-items: center;
}

.simon-square {
	height: 100px;
	margin: 10px 10px 10px 0;
	width: calc(100% * (1/2) - 10px - 10px);
	transition: box-shadow .25s;
}

.container {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.sidebar {
	width: 30%;
}

.sidebar.float {
	float: left;
}

.main {
	width: 70%;
}

.main.float {
	float: left;
}

.control-panel {
	height: 30%;
	padding-top: 30px;
	border-top: solid 1px black;
}

.game-panel {
	height: 70%;
	padding-bottom: 30px;
	position: relative;
}

.highlight {
	box-shadow: inset 0 0 100px #000;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hov:hover {
	cursor: pointer;
}

.squeeze-align {
	text-align: center;
	padding: 15vh 25vh 0 25vh;
}

.subhead-msg {
	display: block;
}

.submit-btn {
	display: block;
  margin: 2vh auto;
  width: 20%;
  background: transparent;
  text-transform: uppercase;
}

.submit-btn:hover {
	cursor: pointer;
}

.logo {
	width: 50px;
	margin-right: 5vh;
}

.logo-font {
	text-transform: uppercase;
}

.name-font-container {
  padding-left: 10px;
}

.rank {
	background-color: #000;
	color: #fff;
	padding: 10px;
	border-radius: 50%;
}

.padding-bot {
	padding-bottom: 30px;
}
.padding-top {
	padding-top: 30px;
}
.padding-right {
	padding-right: 30px;
}
.padding-left {
	padding-left: 30px;
}

.border-top {
	border-top: solid 1px;
}

.border-left {
	border-left: solid 1px;
}

.padding-left-sm {
	padding-left: 15px;
}

.margin-none {
	margin: 0;
}

.uppercase {
	text-transform: uppercase;
}


.btn {
	background: #fff;
  text-transform: uppercase;
}

.btn-start {
  position: absolute;
  left: 40%;
  top: 40%;
}

.btn:hover {
	cursor: pointer;
}

.user-list-header {
	margin-bottom: 5px;
}

.absolute-container {
	position: absolute;
  left: 40%;
  top: 40%;
  text-align: center;
  background-color:rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: #fff; 
}

#restart-game-container {
	left: 30%;
}